* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	/* color: #ff444f; */
	font-weight: bold;
	font-size: 15px;
	background: #ebebeb;
}

a {
	text-decoration: none;
	color:#444;
}

#iFrm {
	position: absolute;
	width: 100%;
	height: auto;
	left: 50%;
	top: 45%; 
	margin-left: -50%;
}

#iContent {
	font-size: 50px;
	font-weight: bold; 
	line-height: normal;
	text-align: center;
	letter-spacing: -1px;
	margin: 0 auto;
	color: #666;
}

#iTag {
	position: fixed;
	bottom: 25px;
	right: 40px;
	font-size: 12px;
	text-align: left;
	color: #444;
}

/* #iMail {
	position: fixed;
	top: 40px;
	left: 40px;
	width: 38px;
	height: 34px;
	padding-top: 4px;
	font-size: 24px;
	outline: none;
	text-decoration: none;
	background: url(img/mail.png) no-repeat center center;
	background-size: 20px 20px;
}*/

#iRefresh {
	position: fixed;
	top: 40px;
	left: 145px;
	width: 38px;
	height: 38px;
	display: block;
	outline: none;
	background: url(img/refresh.png) no-repeat center center;
	background-size: 20px 17px;
}

#iLike {
	position: fixed;
	top: 40px;
	left: 40px;
	width: 95px;
	height: 29px;
	padding-top: 9px;
	text-align: center;
}

#iLikeClick {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 9px;
}

#iMail,
#iRefresh,
#iLike {	
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #bababa;
	cursor: pointer;
}

#iMail:hover,
#iRefresh:hover,
#iLike:hover {
	border: 2px solid #000000;
}

::-webkit-selection { background: transparent; color: #bababa; }
::-moz-selection { background: transparent; color: #bababa; }
::selection { background: transparent; color: #bababa; }